<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<main class="container">
    <%-include('../partials/flash')%>
    <section class="mt-2 mb-3 p-2" style="background-color: #cecece;">
        <h1 class="display-2 text-center"><i class="fas fa-store"></i>Shopping Cart</h1>
    </section>

    <div class="row align-items-center">
        <% for(let product of products){ %>
            <div class="col-sm-6 col-xl-3 col-lg-4 my-2">
                <div class="card text-center shadow">
                    <img src="<%= product.img %>" style="height: 200px;" class="m-2" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= product.name %></h5>
                      <p class="card-text"><%= product.desc.substring(0,50) %>...</p>
                      <a href="/products/<%=product._id%>" class="btn btn-primary">More info</a>
                    </div>
                  </div>
            </div>
        <%}%>
    </div>
</main>
<%- include('../partials/footer') %>
    
